<!DOCTYPE html>
<html>

<head>
	<title>Puxika</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
		}

		a {
			display: inline-block;
			padding: 5px 10px;
			border: 2px solid #333;
			background-color: #333;
			color: #fff;
			text-decoration: none;
		}

		a:hover:not(#eskatu) {
			background-color: #fff;
			color: #333;
		}

		a {
			font-size: 10px;
			font-family: Arial, sans-serif;
			color: #333;
			text-decoration: none;
		}

		a:hover:not(#eskatu) {
			color: #f00;
		}

		a {
			font-size: 10px;
			font-family: Arial, sans-serif;
			color: lightgray;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
		}

		button,
		.button {
			background-color: #f44336;
			border: none;
			color: white;
			cursor: pointer;
			padding: 12px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			border-radius: 4px;
		}

		button:hover,
		.button:hover {
			background-color: #d32f2f;
		}

		header {
			background-color: #fff;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			padding: 16px;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
		}

		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		nav li {
			display: inline-block;
			margin-right: 16px;
		}

		nav a {
			font-size: 18px;
		}

		footer {
			background-color: #333;
			color: #fff;
			padding: 16px;
			text-align: center;
		}

		html,
		body {
			height: 100%;
		}

		main {
			flex: 1;
		}

		button,
		.button {
			background-color: #f44336;
			border: none;
			color: white;
			cursor: pointer;
			padding: 12px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			border-radius: 4px;
		}

		button:hover,
		.button:hover {
			background-color: #d32f2f;
		}
	</style>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Hasiera</a></li>
				<!-- poner opcion de login en el lado contrario -->
				<li style="float: right; padding-right: 10px;"><%-html.login_logout%></li>
				<li style="float: right; padding-right: 10px; font-size: 20px; padding-top: 8px;">
					<%=uname%>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<section style="margin-top: 2cm; margin-bottom: 1.1cm; display: flex; flex-direction: column;">
			<% for(var i=0; i < html.foods.length; i++) { %>
				<div style="display: flex; align-items: center; margin-bottom: 20px;">
					<img src="/images/<%=html.foods[i].argazkia%>"
						style="width: 100px; height: 100px; object-fit: cover; margin-right: 20px;">
					<div>
						<h3 style="margin-bottom: 5px;">
							<%=html.foods[i].izena%>
						</h3>
						<p style="margin-bottom: 5px;">Kantitatea: <%=html.foods[i].kopurua%>
						</p>
						<p style="margin-bottom: 0;">Prezioa: <%=html.foods[i].prezioa%>
						</p>
					</div>
				</div>
				<% } %>
		</section>
	</main>
	<submit class="button" id="Ordaindu" style="margin-left: 26.69cm; margin-bottom: 1cm;">
		<% var total = 0; %>
		<% html.foods.forEach( food => { %>
		<% total += food.prezioa * food.kopurua %>
		<% }) %>
		Ordaindu: <%=total%>€
	</submit>

	<footer>
		<p>© 2023 Puxika. Eskubide guztiak erreserbatuta.</p>
	</footer>
</body>

<script>
	document.getElementById("Ordaindu").addEventListener("click", function() {
		//get the total price
		var total = parseFloat(document.getElementById("Ordaindu").innerHTML.split(" ")[1].split("€")[0]);
		var prezioa = {prezioa: total};
		fetch("/eskaera/ordaindu", {
				method: "POST",
				enctype: "multipart/form-data",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(prezioa)
			}).then(response => {
				if (response.ok) {
					window.location.href = '/eskaera/ordaindu';
				} else {
					throw new Error('Error');
				}
			}).catch(error => console.error(error))
	});
</script>

</html>